* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.docx binary
*.mp4 binary
*.pdf binary
*.wav binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
